<head>
  
  <title>{{pageTitle}}</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
  <link href="css/HomeStyle.css" rel="stylesheet" type="text/css" />
  
</head>
