<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="images/logo.png" width="60px" height="70px" style="margin-right: 10px;margin-left:10px">Motilal Nehru National Institute of Technology
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- add with your own action -->
    </ul>
    {{#if user}}
      <ul class="navbar-nav mr-right" style="margin-right: 50px">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi, {{user.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/EditProfile">Edit Profile</a>
          <a class="dropdown-item" href="#">Management</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      </ul>
    {{else}}
      <ul class="navbar-nav mr-right" style="margin-right: 50px">
        <li class="nav-item dropdown">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login</button>
        </li>
      </ul>
    {{/if}}
  </div>
</nav>

 <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="position: absolute;top: 20%">
            <div class="modal-dialog" role="document">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="login" method="post">
                    <div class="form-group" style="padding: 10px">
                      <input type="text" class="form-control" placeholder="Enter Username" name="uid">
                      <input type="password" class="form-control" placeholder="Enter Password" name="password" style="margin-top: 20px">
                       <button type="submit" class="btn btn-primary form-control" style="margin-top: 20px">Login</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>