    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" width="100px" height="100px" style="margin-right: 10px">Motilal Nehru National Institute of Technology
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!-- add with your own action -->
            </ul>
           <ul class="navbar-nav mr-right" style="margin-right: 50px">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login As
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Admin</a>
                <a class="dropdown-item" href="#">Member</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">EXIT</a>
              </div>
            </li>
             </ul>
        </div>
      </nav>