<html>
    {{>header}}
    <html>
        {{>nav}}
        <div class="container">
            <div>
                <h1>{{name}}</h1>
                <h3>{{description}}</h3>
            </div>
            <div>
                <h2>
                    Current per day expenditure:
                    ₹{{pde}}
                </h2>
            </div>
        </div>
        {{>footer}}
    </html>
</html>