<html>
	{{>header}}
	<body>
		{{>nav}}
		Hello People. This is a temp landing page.
		<form method="get" action="LoginPage">
		<button>Enter to Login Page</button>	
		</form>
		<h1>Hostels</h1>
		<table>
			{{{table}}}
		</table>
	<a href="/Register">Register</a>
	{{>footer}}
	</body>
</html>