<html>
	<head>
		<title>
			Welcome to the site
		</title>
	</head>
	<body>
		Hello People. This is a temp landing page.
		<form method="get" action="LoginPage">
		<button>Enter to Login Page</button>	
		</form>
<<<<<<< HEAD
=======
		<h1>Hostels</h1>
		<table>
			{{{table}}}
		</table>
>>>>>>> b03003947ca4c66b194a17b4429f9bed721292ce
	<a href="/Register">Register</a>
	</body>
</html>