<!DOCTYPE html>
<html lang="en">
	{{>header}}
	<body>
		{{>nav}}

   
      <div class="main">

          
          <hr>
          
          <h2>CHOOSE YOUR HOSTEL</h2>
                   
         
          <div class="row">
            <div class="column">
              <div class="content">
               <a  h href="#">
                <img src="images/hostel1.jpg" alt="Mountains" style="width:100%">
                <h3>KNGH</h3></a>
                <p>Notification and other details for kngh can be put here</p>
              </div>
            </div>
            <div class="column">
              <div class="content">
              <a  h href="#">
              <img src="images/hostel2.jpg" alt="Lights" style="width:90%">
                <h3>SVBH</h3></a>
                <p>Notification and other details for SBVH can be put here</p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                <a  h href="#">
                     <img src="images/hostel3.jpg" alt="Nature" style="width:105%">
                <h3>TILEK</h3></a>
                <p>Notification and other details for TILEK can be put here</p>
              </div>
            </div>
            <div class="column">
              <div class="content">
             <a  h href="#">
              <img src="images/hostel4.jpg" alt="Mountains" style="width:95%">
                <h3>IH-B</h3></a>>
                <p>Notification and other details for IH-B can be put here</p>
              </div>
            </div>
          <!-- END GRID -->
          </div>
          
          <div class="content">
          <a  h href="#">
            <img src="images/hostel6.jpg" alt="Bear" style="width:100%">
            <h3>TAGORE</h3></a>
            <p>TAGORE hostel notification and Activities</p>
          </div>
          
          <!-- END MAIN -->
          </div>
          

	{{>footer}}
	</body>
</html>