<!DOCTYPE html>
<html lang="en">
	{{>header}}
	<body>
		{{>nav}}

   
      <div class="main">

          
          <hr>
          
          <h2>HOSTELS</h2>
                   
         
          <div class="row bg-dark" >

            {{#each hostel}}
            <div class="col-xm-3 column">
             <a href="#">
              <div class="content">
              <img src="images/{{hostelId}}" alt="Mountains" height="10%" width="21%">
              <p><h5>{{hostelName}}</h5></p>
              </div>
              </a>
            </div>
            {{/each}}
          <!-- END GRID -->
          </div>
          
          
          <!-- <div class="content">
          <a  h href="#">
            <img src="images/hostel6.jpg" alt="Bear" style="width:100%">
            <h3>TAGORE</h3></a>
            <p>TAGORE hostel notification and Activities</p>
          </div>
           -->
          <!-- END MAIN -->
          </div>
        {{>footer}}
	</body>
</html>