<!DOCTYPE html>
<html lang="en">
  {{>header}}
  <body background="/images/background.jpg">
    {{>nav}}
      <div class="main">

          
          <hr>
          
          <h2>HOSTELS</h2>
                   
         
          <div class="row bg-dark">

            {{#each hostel}}
            <div class="col-xm-12 col-md-4 col-lg-3 column shadow" style="padding: 0px; margin-top: 10px; margin-bottom: 10px;">
             <a href="#">
              <div class="container content" style="text-align: center; background-color: #DDDDDD">
                  <div class="col-lg-12 col-md-12 col-xm-10 bg-dark">
                    <img src="images/{{hostelId}}.jpg" alt="Mountains" style="height: 150px; width: 100%;min-height: 150px">
                </div>
                <div>
                  <p><h5>{{hostelName}}</h5></p>    
                </div>
              </div>
              </a>
            </div>
            {{/each}}
          <!-- END GRID -->
          </div>


          <!-- Modal for Login -->
          

          <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="position: absolute;top: 20%">
            <div class="modal-dialog" role="document">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="login" method="post">
                    <div class="form-group" style="padding: 10px">
                      <input type="text" class="form-control" placeholder="Enter Username" name="uid">
                      <input type="password" class="form-control" placeholder="Enter Password" name="password" style="margin-top: 20px">
                       <button type="submit" class="btn btn-primary form-control" style="margin-top: 20px">Login</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>



        {{>footer}}
  </body>
</html>