<!DOCTYPE html>
<html>
	{{>header}}
<body>
	{{>nav}}

	<div class="container">
		<div class="row">
			<div class="col-xm-12 col-sm-12 col-md-10 col-lg-6" style="margin: 0 auto; padding: 0 auto;">
				<form class="jumbotron" method="post" action="/login">
				<b>Enter Username</b><input type="text" class="form-control" placeholder="Enter Name" name="uid"><br>
				<b>Password</b><input type="password" class="form-control" placeholder="Password" name="password"><br>
				<button type="submit" class="form-control btn btn-primary">Login</button>
				</form>
			</div>
			
		</div>
	</div>
	{{>footer}}
</body>
</html>