<html>
	<head>
		<title>
			Welcome to the site
		</title>
	</head>
	<body>
		Hello People. This is a temp landing page.
		<P><H3>Testing the working of login</H3></P>
		<div style="margin-left: 200dp; margin-top: 100dp">
			<form method="post" action="/AdminPage">
				<p><h5>Login ID: </h5></p> <input type="text" name="id_text" placeholder="Login ID">
				<p><h5>Login ID: </h5></p> <input type="password" name="password_text" placeholder="Password">
				<p><h5>Login ID: </h5></p> <button >Login</button>	
			</form>
		</div>
	</body>
</html>